<section class="py-24 bg-[var(--background-primary)]">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <blockquote class="text-center">
            <p class="text-text-primary text-3xl md:text-4xl lg:text-5xl font-satoshi font-bold leading-relaxed mb-1 mt-4">
                "My method, among other techniques, uses deep immersion to boost linguistic skills and cultural fluency for real-world application."
            </p>
        </blockquote>
    </div>
</section>
